.features {
            height: 1020px;
            background-color: #2b3d4f;
        }
        
        .features .wrapper {
            width: 1170px;
            margin: auto;
            position: relative;
            clear: both;
        }
        
        .toptext {
            text-align: center;
            padding-top: 110px;
        }
        
        .toptext p {
            font-size: 16px;
            color: #9fa4aa;
            font-family: "Roboto";
            padding-top: 38px;
            font-weight: 400;
        }
        
        .toptext h3 {
            color: #fff;
            font-family: "PoiretOne";
            font-size: 48px;
            text-transform: uppercase;
            font-weight: 400;
        }
        
        .features_content {
            float: left;
            width: 100%;
            text-align: center;
            margin-top: 60px;
        }
        
        .featuretext {
            display: inline-block;
            padding-top: 51px;
            padding-right: 65px;
            padding-bottom: 60px;
            padding-left: 40px;
            vertical-align: top;
            margin-left: -5px;
            color: #9fa4aa;
            /* text color */
            font-family: "Roboto";
            font-weight: 400;
            font-size: 14px;
        }
        
        .featuretext h2 {
            color: #fff;
            font-family: "Roboto";
            font-weight: 100;
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 35px;
        }
        
        .hours,
        .wire,
        .bottom {
            border-top: 1px solid #fff;
        }
        
        .bottom,
        .dots {
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }
        
        .dots {
            padding-bottom: 69px;
        }
        
        .wire,
        .bottom,
        .hours {
            padding-bottom: 20px;
        }
        
        .dots,
        .details,
        .one {
            padding-top: 5px;
        }
        @media screen and (max-width:768px) {
                        .features {
                            
                                
height: 2300px;


                                background-color: #2b3d4f;
                                clear: both;
                            }
                            .features .wrapper {
                                width: 100%;
                                

                            }
                           .hours,
        .wire,
        .bottom, .dots {
            border: none;


                           
                        }
                        
                        @media screen and (max-width:360px) {
                           .features {
                            
                                
height: 2900px;
                        }