.pricing_page {
            height: 1100px;
            background-color: #fff;
        }
        
        .pricing_page .wrapper {
            width: 1170px;
            margin: auto;
            font-family: "Roboto";
        }
        .price_text >h1{
           color: #2c3d4f; /* text color */
font-family: "Poiret One";
font-size: 48px;
text-align: center;
padding-top: 109px;
padding-bottom: 39px;
        }
        .price_text >p{
            color: #555; /* text color */
font-family: "Roboto";
font-size: 16px;

        }
        .pricing_table{
            margin-top: 50px;
            }        
        .prices {
            display: inline-block;
            margin-right: 11.5px;
            margin-left: 11.5px;
        }
        
        table {
            background-color: #fff;
            border: 1px solid #e5e5e5;
            width: 266px;
             font-family: "Roboto";
        }
        
        table th {
            padding: 15px;

        }
        
        table th p {
            border-bottom: 1px solid #e5e5e5;
            color: #555;
            font-family: "Roboto";
            font-size: 16px;
            padding-bottom: 20px;
        }
        
        table th a {
            height: 52px;
            width: 105px;
            background-color: #2c3e50;
            text-align: center;
            text-decoration: none;
            border-radius: 2px;
            color: #fff;
            padding: 15px 50px 15px 50px;
        }
        
      .noborder{
        border-bottom: none;
      }
        table:hover{
            border-color: red;
        }
        .top
        {
            background-color: #f9f9f9;
            
        }
        .top:hover{
            background-color: red;
        }
        @media screen and (max-width:768px) {
                        .pricing_page{
                                height: 100%;
                                clear: both;
                                
                            }
                            .pricing_page .wrapper {
                                width: 100%;
                            }
                        }